<div class="app-table">
  <div class="app-table__container mat-elevation-z3">
    <div class="app-table__wrapper">
      <div *ngIf="loading" class="app-table__loading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      <mat-table [dataSource]="data" class="table">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.value"
                      [sticky]="column?.sticky">
          <mat-header-cell
            *matHeaderCellDef
            [attr.style]="column.flexWidth ? 'flex: ' + column.flexWidth : ''">
            {{ column.header }}
          </mat-header-cell>
          <mat-cell
            *matCellDef="let row"
            [attr.style]="column.flexWidth ? 'flex: ' + column.flexWidth : ''">
            <ng-template
              [ngTemplateOutlet]="column['typeData']['type'] === columnType.Custom ? column['typeData']['customTemplate'] : cellTemplates[column['typeData']['type']]"
              [ngTemplateOutletContext]="{column: column, row: row}">
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div *ngIf="!data?.length" class="app-table__no-data">
        No Data
      </div>
    </div>
    <mat-paginator [length]="totalItems"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   aria-label="Select page of Candidates search results">
    </mat-paginator>
  </div>
</div>

<ng-template #text let-column="column" let-row="row">
  {{ row[column.value] }}
</ng-template>
