.reset {
  position: absolute;
  top: -3px;
  right: -14px;
}
.selected {
  position: absolute;
  top: 10px;
  left: 0;
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::ng-deep {
  .search-skills {
    width: 100%;
    color: #ffffff;
    font-size: 12px;
    .mat-form-field-wrapper {
      padding: 0;
    }
  }
  .custom-option {
    .mat-option-text {
      display: flex;
      width: 100%;
      .mat-checkbox {
        width: 100%;
      }
    }
  }
}
