<app-filters
  class="filters"
  [recruiterContacts]="recruiterContacts$ | async"
  (submitForm)="filterData$$.next($event)"
  [skills]="skills$ | async"
  (clearForm)="filterData$$.next(initialFilterData)">
</app-filters>

<app-table
  [columns]="columns"
  [dataSource]="candidatesData$ | async"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  (loadData)="pagination$$.next($event)">
</app-table>

<ng-template #contactsInfo let-row="row" let-column="column">
  <div class="cell-content">
    <ul class="contacts">
      <li *ngFor="let contact of row[column.value]">
        <b>{{ contact.type}}:</b> {{ contact.value }}
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #list let-row="row" let-column="column">
  <div class="cell-content">
    <ul>
      <li *ngFor="let item of row[column.value]; let last = last">
        {{ item }}<span *ngIf="!last">,</span>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #dateMs let-row="row" let-column="column">
  <div class="cell-content">
    {{ row[column.value] ? (row[column.value] | date : 'dd/MM/YYYY') : '' }}
  </div>
</ng-template>

<ng-template #experience let-row="row" let-column="column">
  <div class="cell-content">
    {{getExperienceValue | memoizePipe : row[column.value]}}
  </div>
</ng-template>

<ng-template #actions let-row="row">
  <div class="cell-content">
    <button type="button>" mat-icon-button [routerLink]="['/candidate', row['_id']]">
      <mat-icon color="primary">edit</mat-icon>
    </button>
    <button type="button>" mat-icon-button>
      <mat-icon color="warn" (click)="onCandidateRemove(row)">delete</mat-icon>
    </button>
  </div>
</ng-template>
