:host {
  flex: 1 1 auto;
}

.main {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.nav-list {
  display: flex;
  &__item {
    margin-left: 10px;
  }
  &__link {
    transition: all 0.1s;
    padding: 6px;
  }
}

.toolbar {
  position: sticky;
  top: 0;
}

.content {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}
