<mat-sidenav-container [class]="'main mat-typography ' + theme">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [class.hidden]="!(isTablet$ | async)!.matches"
    [attr.role]="isTablet$ ? 'dialog' : 'navigation'"
    [mode]="(isTablet$ | async)!.matches ? 'over' : 'side'">
    <mat-toolbar color="primary">RECRUITER TOOL</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let navItem of navItems" [routerLink]="navItem.link" mat-list-item (click)="drawer.toggle()">
        {{navItem.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar" color="primary">
      <button *ngIf="(isTablet$ | async)!.matches" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer?.toggle()">
        <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
      </button>
      <h1 *ngIf="!(isTablet$ | async)!.matches">RECRUITER TOOL</h1>
      <span class="spacer"></span>
      <ul *ngIf="!(isTablet$ | async)!.matches" class="nav-list">
        <li *ngFor="let navItem of navItems" class="nav-list__item">
          <a class="nav-list__link" mat-list-item
             [routerLink]="navItem.link" routerLinkActive="nav-list__link--active">
            {{navItem.title}}
          </a>
        </li>
      </ul>
    </mat-toolbar>
    <div class="content">
      <h2>{{ title$ | async }} Here will be page title</h2>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
