<section class="candidate">
  <form [formGroup]="form">
<!--TODO: Create custom reusable app-input component-->
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Full Name</mat-label>
      <input type="text" matInput formControlName="fullName" autocomplete="off">
      <mat-error *ngIf="form.controls['fullName'].hasError('required')">
        Full Name is required
      </mat-error>
      <mat-error *ngIf="form.controls['fullName'].hasError('minlength')">
        Should contain at least {{ fullNameMinLength }} characters
      </mat-error>
    </mat-form-field>

    <div formGroupName="contacts" class="contacts">
      <h3 class="sub-title"
          [class.contacts-wrapper__title-invalid]="contactsFormGroup.hasError('atLeastOne') && contactsFormGroup.touched">
        Contacts *
      </h3>
      <mat-error *ngIf="contactsFormGroup.hasError('atLeastOne') && contactsFormGroup.touched">
        Should fill at least one contact
      </mat-error>
      <div class="contacts__list">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Linkedin</mat-label>
          <input type="text" matInput formControlName="linkedin" autocomplete="off">
          <mat-error *ngIf="contactsFormGroup.controls['linkedin'].hasError('minlength')">
            Should contain at least {{ contactMinLength }} characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Telegram</mat-label>
          <input type="text" matInput formControlName="telegram" autocomplete="off">
          <mat-error *ngIf="contactsFormGroup.controls['telegram'].hasError('minlength')">
            Should contain at least {{ contactMinLength }} characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" autocomplete="off">
          <mat-error *ngIf="contactsFormGroup.controls['email'].hasError('minlength')">
            Should contain at least {{ contactMinLength }} characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Discord</mat-label>
          <input type="text" matInput formControlName="discord" autocomplete="off">
          <mat-error *ngIf="contactsFormGroup.controls['discord'].hasError('minlength')">
            Should contain at least {{ contactMinLength }} characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Slack</mat-label>
          <input type="text" matInput formControlName="slack" autocomplete="off">
          <mat-error *ngIf="contactsFormGroup.controls['slack'].hasError('minlength')">
            Should contain at least {{ contactMinLength }} characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Own Contact</mat-label>
      <mat-select formControlName="ownContact">
        <mat-option>-- None --</mat-option>
        <mat-optgroup *ngFor="let group of uiOwnContacts" [label]="group.type">
          <mat-option *ngFor="let value of group.values" [value]="value">
            {{ value }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="form.controls['ownContact'].hasError('required')">
        Own Contact is required
      </mat-error>
    </mat-form-field>
    <div>
      <app-skills-select [options]="apiSkills$ | async" [formControlName]="'skills'"></app-skills-select>
    </div>
  </form>
</section>
