<mat-card class="auth">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <form [formGroup]="authForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
    <div class="auth__block">
      <mat-form-field *ngIf="fullMode" class="form-field" appearance="outline">
        <input matInput formControlName="firstName" placeholder="First Name">
        <mat-error *ngIf="authForm.controls['firstName'].hasError('required')">First Name is required</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="fullMode" class="form-field" appearance="outline">
        <input matInput formControlName="lastName" placeholder="Last Name">
        <mat-error *ngIf="authForm.controls['lastName'].hasError('required')">Last Name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="auth__block">
      <mat-form-field class="form-field" appearance="outline">
        <input type="email" matInput formControlName="email" placeholder="Email" autocomplete="off">
        <mat-error *ngIf="authForm.controls['email'].hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="authForm.controls['email'].hasError('email')">Email is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <input matInput formControlName="password" type="password" placeholder="Password" autocomplete="new-password">
        <mat-error *ngIf="authForm.controls['password'].hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="authForm.controls['password'].hasError('minlength')">
          Password should contain at least {{minPasswordLength}} characters
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="fullMode" class="form-field" appearance="outline">
        <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password">
        <mat-error *ngIf="authForm.controls['confirmPassword'].hasError('required')">Confirm Password is required</mat-error>
        <mat-error *ngIf="authForm.controls['confirmPassword'].hasError('mismatchedPasswords')
          && !authForm.controls['confirmPassword'].hasError('required')">
          Passwords should be matched
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="fullMode" class="contacts auth__block" formArrayName="contacts">
      <div *ngFor="let contact of contactForms.controls; let i = index; let first = first" [formGroupName]="i" class="contacts__item">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Contact Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of contactTypes" [value]="type">
                {{ type | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <input matInput formControlName="value" placeholder="Contact">
          </mat-form-field>
        <button *ngIf="!first" mat-icon-button color="warn" type="button" class="contacts__remove-btn" (click)="removeContactField(i)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <button mat-icon-button type="button" color="primary" (click)="addContactField()">
        <mat-icon>add</mat-icon> Add Contact
      </button>
    </div>

    <button mat-raised-button color="primary" type="submit">
      {{ saveBtnText }}
    </button>
  </form>
</mat-card>
